:root {
    --font-merienda: 'Merienda', cursive;
    --font-secular-one: 'Secular One', sans-serif;
    --font-roboto: font-family: 'Roboto', sans-serif;;
    --color-font-default-blue: #1E5674;
    --blue-gradient: linear-gradient(93deg, #0DA7C7 6.66%, #2359AA 27.89%, #34B0F6 66.57%, #2F29A2 79.42%, #0DA7C7 96.59%);
    --gradient-grey-background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(121deg, #E4E6FF 10.13%, rgba(244, 244, 244, 0.40) 44.67%, #E4E6FF 100%);;
    --light-grey-text: #71717A;
    --footer-bg: #00293F;
}

body,html, .root-height {
    background: white!important;
    background-image: linear-gradient(to bottom right,#e4e6ff,#fff 40%,#e4ebff) !important;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.h-100 {
    height: 100% !important;
    
}

.m-auto {
    margin: 0 auto !important;
}

.secular {
    font-family: var(--font-secular-one);
    color: var(--color-font-default-blue);
}

.secular-default {
    font-family: var(--font-secular-one);

}

.roboto {
    font-family: var(--font-roboto);
    color: var(--light-grey-text);
}

.roboto-default {
    font-family: var(--font-roboto) !important;
}

.shadow {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
}

.gradient-sizes-projects {
    filter: blur(70px);
    height: 13rem;
}

.blue-gradients{
    background-color: #06B6D4 !important;
}

.pink-gradients{
    background-color: #D946EF !important;
}

.purple-gradients {
    background-color: #6366F1 !important;

}

.roboto-grey{
    font-family: var(--font-roboto) !important;
    color: var(--light-grey-text) !important;
}

.nav-logo-name {
    font-family: var(--font-merienda);
    background: linear-gradient(93deg, #0DA7C7 6.66%, #2359AA 27.89%, #34B0F6 66.57%, #2F29A2 79.42%, #0DA7C7 96.59%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.8vw !important;
    height: 108%;
}

.offcanvas-body .nav-link {
    font-size: 2vw;
}


.user-svg {
    width: 18px;
    height: 18px;
}

.user_nav_icon:hover {
    transition: background-color .5s ease-in;
    background-color: #1E5674;
}


main {
    margin-top: 170px !important;
}

.start {
    min-height: 45rem;
    font-family: var(--font-roboto) !important;
    color: var(--color-font-default-blue);
}

.start h1 {
    font-size: 4.7em;
}

.start p{
    margin-top: 37.7px;
}


.text-start {
    max-width: 80rem;
    font-size: 1vw;
}

.buttons-container {
    width: 50% !important;
}

.git,
.linkedin {
    width: 300px;
    box-sizing: border-box;
}

.blue-gradient {
    background: var(--blue-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradiente-2 {
    background-color: var(--color-font-default-blue);
    height: 60px;
    filter: blur(10.3rem);
}

.default-social-button {
    padding: 17px 33px;
    gap: 10%;
    border-radius: 15px;
    border: none;
    white-space: nowrap;
}

.git {
    width: 260px;
    background-color: black !important;
    border-bottom: 1px solid #FA0000!important;
    border-top: 1px solid #67E8F9!important;
    text-align: center;
    display: flex;
    align-items: center;
}


.linkedin {
    width: 260px;
    background-color: inherit !important;
    color: var(--light-grey-text)!important;
    border: 1px solid #71717A;
}

.fa-brands {
    font-size: 1.8rem;
}

.buttons-container .fa-linkedin {
    color: #0077B5;
}

.git:hover
{
    background-color: inherit;
    border: transparent;
}

.about-text {
    margin-left: 10vw !important;
}

.projects {
    margin-top: 150px;
}

.container-all-projects {
    margin: 0 12vw;
}

.container-project {
    box-shadow: 2px 3px 3px 1px #554f4f70;;
    width: 95%;
    transition: all 0.3s ease-in-out;
}

.container-project:hover {
    transform: scale(1.05);
}

.icon-projects {
    background-color: white !important;
    height: 300px;
    z-index: 3 !important;
}

.see-more-button {
    width: 221px;
    height: 48px;
    border-radius: 35px;
    border: 1px solid var(--light-grey-text);
    
}

.a-button {
    width: 35%;
    text-decoration: inherit;
}

.buttons {
    align-items: center !important;
    justify-content: center !important;
    gap: 10px;
    background-color: transparent;
    color: var(--light-grey-text);
    border: 1px solid var(--light-grey-text);
}

.buttons i,
.buttons {
    font-size: max(1.1vw, 1vw)
}

.description-project {
    margin-top: 120px   ;
    color: var(--color-font-default-blue);
}

.description-project h1{
    font-size: 2vw ;

}

.description-project p{
    color: var(--light-grey-text);
}

.email svg {
    stroke: var(--light-grey-text);
}

.email:hover svg {
   stroke: white !important;
}


.project-image {
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    width: 97%;
    height: 60%;
    box-shadow: 2px 3px 3px 1px #554f4f70;

}

.fryendsync {
    background-image: url(images/Feed-desktop.png);
    background-size: 100% 100%;
    background-position: center;
}

.contact {
    padding-top: 150px;
}

.contact p,
.projects p {
    color: var(--light-grey-text);
}

.div-project {
    height: 500px !important;
}

.linkedIn:hover .fa-linkedin {
    color: white;
}

.bg-footer {
    background-color: var(--footer-bg);
    color: white;
}

.button-footer-default {
    border: none;
    outline: none;
    color: white;
    width: 40vw;
    padding: 5px;
    border-radius: 50px;
    margin: .5vw;
    border-bottom: 2px solid #FA0000;
    border-top: 2px solid #67E8F9;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


@media (max-width: 1200px) {

    .nav-logo-name {
        font-size: 4.2vw !important;
    }

    .container-buttons {    
        width: 75% !important;
    }

    .text-start {
        font-size: 1.6vw !important;
    }

    .buttons-container {
        width: 75% !important;
    }
    
    .git,
    .linkedin {
        width: 300px;
    }

    .col-project {
        padding: 0 15px 0 15px !important;
    }

    .container-all-projects {
        width: 90% !important;  
        margin: 0 5vw !important;
    }

    .a-button {
        width: 45%;
        text-decoration: inherit;
    }

    .buttons i,
    .buttons {
    font-size: max(1.8vw, 1.4vw)

    }


}

@media (max-width: 1100px) {
    .gradiente-2 {
        height: 100px;
    }

    .div-project {
        height: 440px !important;
    }

    .description-project {
        margin-top: 85px;
    }

    .description-project h1{
        font-size: 3vw ;
    
    }
}

@media (max-width: 991px){
    .mr-5,
    .mr-2 {
        margin-right: 0 !important ;
    }

    .start {
        font-size: 2.5vw;
    }
    
    .start h1 {
        font-size: 8.5vw;
    }

    .git,
    .linkedin {
        width: 330px;
    }

    .text-start {
        font-size: 2vw !important;
    }

    .container-all-projects {
        width: 100% !important;
        margin: 0 0 !important;
    }

    .container-project {
        height: 410px !important;
    }

    .a-button {
        width: 60%;
        text-decoration: inherit;
    }

    .button-footer-default {
        width: 40vw;
    }


}

@media (max-width: 768px) {
    
    .nav-logo-name {
        font-size: 6vw !important;
    }

    .nav-link,
    .btn-close {
        font-size: 3vw;

    }
    

    .text-start {
        width: 80vw !important;
        margin: 0 auto;
    }



    .default-social-button,
    .default-social-button i{
        font-size: max(3.5vw, 15px);        
        align-items: center;
        text-align: center;
    }

    .git,
    .linkedin {
        width: 360px;
    }

    main {
        margin-top: 25vw !important;
    }

    .gradiente-about-me {
        display: none !important;
    }

    .about-text {
        margin: 0 !important;
    }

    .description-project h1{
        font-size: 4.5vw ;
    
    }

    .a-button {
        width: 80%;
        text-decoration: inherit;
    }

    .buttons i,
    .buttons {
    font-size: max(2.5vw, 2vw)
    }

    .button-footer-default {
        width: 80vw;
        margin: 1.5vw;
        font-size: 3vw;
    }

    .button-footer-default  .fa-brands::before {
        font-size: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
